*{
    margin:0px;
    padding:0px;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container_img{
    border-radius: 50%;
    border: 2px solid red;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -20%;
    left: 200px;
    
}
.container_block{
    background-color: rgb(196, 103, 165);
    border-radius: 10px;
    width: 500px;
    height: 200px;
    padding: 10px;
    position: relative;
}
.container_content{
    color: aliceblue;
    margin-top: 60px;
    font-size: 25px;

}
.container_name{
    color: whitesmoke;
    margin-top: 30px;
    font-size: 20px;
}